@import (css) "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

@logo-blue: #2a7fff;
@logo-grey: #999999;
@nav-bar: darken(#424242, 5%);
@sub-nav: #212121;

.navbar {
    background-color: @nav-bar;
    color: @logo-grey;
    height: 130px;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 0px;
    margin: 0px;
}

.logo {
    height: 90px;
    position: absolute;
    top: 15px;
    left: 15px;
}

//C

#connect-btn {
    height: 50px;
    position: absolute;
    right: 12px;
    top: 45px;
}

#disconnect-btn {
    height: 50px;
    position: absolute;
    right: 12px;
    top: 45px;
}

.right {
    position: absolute;
    right: 14px;
    top: 100px;
    font-family: "Roboto";
    font-size: 12px;
}

.lessright {
  position: absolute;
  right: 8px;
  top: 100px;
  font-family: "Roboto";
  font-size: 12px;
}

#connect-btn:hover {
    -webkit-filter: brightness(0.25); 
    filter: brightness(1.25);
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: .7em;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

.custom-dropdown {
  position: relative;
  display: block;
  float: right;
  margin: 10px;
  //box-shadow: 1px 1px 20px darken(@logo-grey, 50%); (to maintain flat look)
}

.custom-dropdown select {
  background-color: #212121;
  color: @logo-grey;
  font-size: inherit;
  font-family: 'Roboto';
  font-weight: 600;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

.red {
  color: red;
}

.green {
  color: green;
}

#subtopbar {
    background: #212121;
    height: 27px;
    padding: 5px;
    font-size: 12px;
    color: @logo-grey;
}

#platform-info , .version {
    font-weight: 600;
}

.header {
  color: @logo-blue;
}

.table {
  color: #212121;
  margin: 0px;
}

.panel {
  margin-top: 0px;
}

#camera {
  margin: 10px;
  width: 700px;
  height: 636px;
  margin-top: 10px;
  margin-left: -5px;
  object-fit: fill;
}

.camera {
  margin: 10px;
}

.cramp {
  padding: 0px;
  margin: 0px;
}

.panel {
  margin: 20px;
}


div.instrument {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block ;
  overflow: hidden;
}

/* The box containing any element of an indicator */
div.instrument .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Default transformations */

div.instrument.attitude div.roll {
  transform: rotate(0deg);
}
div.instrument.attitude div.roll div.pitch {
  top: 0%;
}
div.instrument.heading div.yaw {
  transform: rotate(0deg);
}
div.instrument.vario div.vario {
  transform: rotate(0deg);
}
div.instrument.speed div.airspeed {
  transform: rotate(90deg);
}
div.instrument.altimeter div.pressure {
  transform: rotate(40deg);
}
div.instrument.altimeter div.needle {
  transform: rotate(90deg);
}
div.instrument.altimeter div.needleSmall {
  transform: rotate(90deg);
}

.attitude {
  margin-top: 15px;
}

.batt {
  margin: 10px;
}

.tabbing {
  margin-top: 10px;
  margin-left: 10px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: whitesmoke;
    font-family: "Roboto";
    font-weight: 600;
    background-color: @nav-bar;
}

.style {
  color: @sub-nav
}

.style:hover {
  color: @nav-bar
}

.absolute {
  position: absolute;
  top: 170px;
  right: 10px;
}
