@logo-blue: #2a7fff;
@logo-grey: #999999;

body {
    margin: 0px;
    vertical-align: top;
}

p{
    margin: 0px;
}

.menu {
    color: white;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

#topbar {
    background: darken(#424242, 5%);
    height: 120px;
}

#subtopbar {
    background: #212121;
    height: 15px;
    padding: 5px;
    font-size: 12px;
    color: @logo-grey;
}

.OS , .version {
    font-weight: 600;
}

#logo {
    height: 90px;
    margin-top: 15px;
    margin-left: 10px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #212121;;
    color: @logo-grey;
    padding: 5px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    width: 170px;
    height: 20px;
}

.dropdown {
    position: relative;
    display: block;
    float: right;
    margin: 10px;
    width: 170px;
    height: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: @logo-blue}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: @logo-blue;
}

