@logo-blue: #2a7fff;
@logo-grey: #999999;
@nav-bar: darken(#424242, 5%);
@sub-nav: #212121;

.navbar {
    background-color: @nav-bar;
    color: @logo-grey;
    height: 130px;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 0px;
}

.logo {
    height: 90px;
    position: absolute;
    top: 15px;
    left: 15px;
}

#connect-btn {
    height: 50px;
    position: absolute;
    right: 12px;
    top: 45px;
}

#disconnect-btn {
    height: 50px;
    position: absolute;
    right: 12px;
    top: 45px;
}

#connect-btn:hover {
    -webkit-filter: brightness(0.25); 
    filter: brightness(1.25);
}